!!!
html(class="ui-mobile")
  head
    meta(charset='utf8')
    base(href='/')
    title Local Roulette
    script(src='/js/libs/jquery/jquery-min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/test.js')
  body
    block body
